.nav-link:hover{
    color: #ffc107 !important;
    font-weight: bold;
}

.logoImg{
    filter: grayscale(40%)
}

.logoImg:hover{
    filter: grayscale(0%)
}

.headerImg{
    background-size: cover;
    background-position: center;
    background-attachment: fixed;   
    filter: grayscale(50%);
}

.headerImg:hover{
    background-size: cover;
    background-position: center;
    background-attachment: fixed;    
    filter: grayscale(0%);
}

.myText{
    text-align: justify !important;
}

.card-hover:hover{
    background-color: beige;
    filter: grayscale(0%)
}

.card-hover{
    filter: grayscale(20%)
}

.research-hover:hover{
    background-color:rgba(255,255,0, 0.03);
    filter: grayscale(0%)
}

.research-hover{    
    filter: grayscale(20%)
}

.text-h2-responsive {
    font-size: calc(100% + 0.7vw + 0.7vh);
}

.text-h4-responsive {
    font-size: calc(90% + 0.5vw + 0.5vh);
}

.text-h5-responsive {
    font-size: calc(85% + 0.35vw + 0.35vh);
}

.text-p-responsive {
    font-size: calc(70% + 0.25vw + 0.25vh);
}