body {
    height: 100%;
    overflow-x: hidden;
    background-color: lightgray;
}
img {
    width: 800px;
    height: 400px;
    display: block;
    margin: 0 auto;
    margin-bottom: 50px;
    margin-top: 50px;
}
 @media (max-width: 950px) {
    img {
        max-width: 100%;
        max-height: 100%;
    }
}

audio {
    width:100%;
}

table{
    border-collapse: collapse;
    border-top: 1px solid #444444;
}

thead {
    border-bottom: 3px solid #444444;
}


th, td{
    padding: 20px;
    border-bottom: 1px solid #444444;
    border-left: 1px solid #444444;
}
th:first-child, td:first-child {
    border-left: none;
}

.out_content{
    display: flex;
    justify-content:center;
    align-items : center;
}

.main {
    width: 60%;
    height:100%;
    background-color: white;
    padding: 10px 40px;
}

.em {
    font-size: medium;
    font-weight: bold
}
.seen_speaker {
    margin-top: 50px;
}
.unseen_speaker {
    margin-top: 50px;
    margin-bottom: 50px;
}

.text-content {
    width: 35%
}

.audio-content {
    width: 20%
}

.explain {
    margin-top: 30px;
    margin-bottom: 30px;
}

